@import '../../styles/mixins';
@import'../../styles/variables';
.investments {
    padding: 2rem;
    h1 {
      color: $primary-color;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 0.5rem 0;
        padding: 0.5rem;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
  }
  